################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WF.BASE/bin/Debug
/WF.BASE/obj/Debug
